<div class="log-user-section container">
    <div class="row">
        <div class="col-6">
            <a href="#">
                <div class="header-log-image">
                    <img src="https://cdn11.bigcommerce.com/s-b9pwig4brj/images/stencil/250x100/logo_1679939859__50533.original.png"
                        alt="green">
                </div>
            </a>
        </div>

        <div class="col-6 user-logo">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <ul class="navbar-nav d-flex flex-row">
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="#">
                            <i class="fa fa-user" style="font-size:25px;"></i>
                        </a>
                    </li>
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="#">
                            <i class="fa fa-shopping-cart" style="font-size:25px;"></i>
                        </a>
                    </li>

                </ul>
            </nav>




        </div>
    </div>


</div>
    