<div class="container-fluid  banners">
    <span style=" font-family: tahoma, arial, helvetica, sans-serif; font-size: large;">FREE delivery on
        all orders&nbsp; |&nbsp;&nbsp;All prices include VAT</span>
</div>

<app-logo-user-section class="class"></app-logo-user-section>
<app-menu></app-menu>
<app-carousel></app-carousel>


<div class="container">
    <div class="row">
        <div class="col">
            <div class="first-image">
                <a href=""><img class="img1"
                        src="https://foogogreen.com/product_images/uploaded_images/order-samples-not-free.jpg"
                        alt=""></a>
            </div>
        </div>
        <div class="col">
            <div class="second-image">
                <a href=""><img
                        src="https://foogogreen.com/product_images/uploaded_images/customer-quote-2-animated.gif"
                        alt=""></a>
            </div>
        </div>
    </div>
</div>

<app-products [carouselId]="'productCarousel1'"></app-products>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="first-image">
                <a href=""><img class="img3"
                        src="https://foogogreen.com/product_images/uploaded_images/wedding-and-party-collection.jpg"
                        alt=""></a>
            </div>
        </div>
        <div class="col">
            <div class="second-image">
                <a href=""><img class="img4"
                        src="https://foogogreen.com/product_images/uploaded_images/free-delivery-banner-foogo.jpg"
                        alt=""></a>
            </div>
        </div>
    </div>
</div>

<app-products [carouselId]="'productCarousel2'"></app-products>




<div class="container-fluid footer">
    <div class="row ">
        <div class="col">
            <div class="footer">
                <h5>NAVIGATE</h5>
              <ul class="footer-info-list">
                <li><a href="">Order Samples</a></li>
                <li><a href="">Plates</a></li>
                <li><a href="">Bowls</a></li>
                <li><a href="">Serving Trays</a></li>
                <li><a href="">Cutlery & More</a></li>
                <li><a href="">Party Supplies</a></li>
                <li><a href="">Wholesale</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Sign In OR Register</a></li>
                <li><a href="">Sitemap</a></li>
              </ul>
            </div>
        </div>
        <div class="col">
            <div class="footer">
                <h5>CATEGORIES</h5>
                <ul class="footer-info-list">
                    <li><a href="">Order Samples</a></li>
                    <li><a href="">Plates</a></li>
                    <li><a href="">Bowls</a></li>
                    <li><a href="">Serving Trays</a></li>
                    <li><a href="">Cutlery & More</a></li>
                    <li><a href="">Wholesale & Bulk Buy</a></li>
                  </ul>
            </div>
        </div>
        <div class="col">
            <div class="footer">
                <h5>USEFUL PAGES</h5>
                <ul class="footer-info-list">
                    <li><a href="">delivery & Returns</a></li>
                    <li><a href="">Terms  & Conditions</a></li>
                    <li><a href="">Privacy Policy</a></li>
                  </ul>
            </div>
        </div>
        <div class="col">
            <div class="footer">
                <h5>CONNECT WITH US</h5>
              
            </div>
        </div>
    </div>
</div>

<div class="container-fluid footer-bottom">
    <article class="store-info" data-section-type="storeInfo" data-ctm-watch-id="3" data-ctm-tracked="1">
        <address>Building 3,
Rettendon Grange Farm,
Woodham Road,
Battlesbridge,
Wickford,
SS11 7QU.
United Kingdom</address>
            020 3826 8499 (Mon - Fri | 9am - 5pm)
    </article>
    <div class="footer-copyright">
        <p class="powered-by text">© 2023 FOOGO Green </p>
    </div>
</div>
