<div class="container-fluid footer">
    <div class="row ">
        <div class="col">
            <div class="footer">
                <h5>NAVIGATE</h5>
              <ul class="footer-info-list">
                <li><a href="">Order Samples</a></li>
                <li><a href="">Plates</a></li>
                <li><a href="">Bowls</a></li>
                <li><a href="">Serving Trays</a></li>
                <li><a href="">Cutlery & More</a></li>
                <li><a href="">Party Supplies</a></li>
                <li><a href="">Wholesale</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Sign In OR Register</a></li>
                <li><a href="">Sitemap</a></li>
              </ul>
            </div>
        </div>
        <div class="col">
            <div class="footer">
                <h5>CATEGORIES</h5>
                <ul class="footer-info-list">
                    <li><a href="">Order Samples</a></li>
                    <li><a href="">Plates</a></li>
                    <li><a href="">Bowls</a></li>
                    <li><a href="">Serving Trays</a></li>
                    <li><a href="">Cutlery & More</a></li>
                    <li><a href="">Wholesale & Bulk Buy</a></li>
                  </ul>
            </div>
        </div>
        <div class="col">
            <div class="footer">
                <h5>USEFUL PAGES</h5>
                <ul class="footer-info-list">
                    <li><a href="">delivery & Returns</a></li>
                    <li><a href="">Terms  & Conditions</a></li>
                    <li><a href="">Privacy Policy</a></li>
                  </ul>
            </div>
        </div>
        <div class="col">
            <div class="footer">
                <h5>CONNECT WITH US</h5>
              
            </div>
        </div>
    </div>
</div>

<div class="container-fluid footer-bottom">
    <article class="store-info" data-section-type="storeInfo" data-ctm-watch-id="3" data-ctm-tracked="1">
        <address>Building 3,
Rettendon Grange Farm,
Woodham Road,
Battlesbridge,
Wickford,
SS11 7QU.
United Kingdom</address>
            020 3826 8499 (Mon - Fri | 9am - 5pm)
    </article>
    <div class="footer-copyright">
        <p class="powered-by text">© 2023 FOOGO Green </p>
    </div>
</div>