.navbar{
    background-color: #ebebeb !important;
    padding: 5px !important;
}


.container-fluid.menu{
    display: flex !important;
    flex-direction: column !important;
}
a{
    font-weight: 500;
    color: black;
    text-shadow: 4px;
}

a:hover{
    color: #ff9600;
}

p{
    margin-top: 7px;
    font-weight: 500;
    color: #ff9600;
}

