<div class="container-fluid  banners">
    <span style=" font-family: tahoma, arial, helvetica, sans-serif; font-size: large;">FREE delivery on
        all orders&nbsp; |&nbsp;&nbsp;All prices include VAT</span>
</div>

<app-logo-user-section class="class"></app-logo-user-section>
<app-menu></app-menu>
<app-carousel></app-carousel>


<div class="container">
    <div class="row">
        <div class="col">
            <div class="first-image">
                <a href=""><img class="img1"
                        src="https://foogogreen.com/product_images/uploaded_images/order-samples-not-free.jpg"
                        alt=""></a>
            </div>
        </div>
        <div class="col">
            <div class="second-image">
                <a href=""><img
                        src="https://foogogreen.com/product_images/uploaded_images/customer-quote-2-animated.gif"
                        alt=""></a>
            </div>
        </div>
    </div>
</div>

<app-products [carouselId]="'productCarousel1'"></app-products>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="first-image">
                <a href=""><img class="img3"
                        src="https://foogogreen.com/product_images/uploaded_images/wedding-and-party-collection.jpg"
                        alt=""></a>
            </div>
        </div>
        <div class="col">
            <div class="second-image">
                <a href=""><img class="img4"
                        src="https://foogogreen.com/product_images/uploaded_images/free-delivery-banner-foogo.jpg"
                        alt=""></a>
            </div>
        </div>
    </div>
</div>

<app-products [carouselId]="'productCarousel2'"></app-products>

<app-footer></app-footer>



