<ngb-carousel>
    <ng-template ngbSlide>
         <div class="picsum-img-wrapper">
            <a href=""> <img width="100%" height="50%" src="https://cdn11.bigcommerce.com/s-b9pwig4brj/images/stencil/1600w/carousel/78/foogo_green_wheat_straw_banner__05605.jpg?c=1" alt="Random first slide" /></a>
           
        </div>
        <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <a href=""> <img width="100%" height="50%" src="https://cdn11.bigcommerce.com/s-b9pwig4brj/images/stencil/1920w/carousel/79/foogo_green_-_wooden_cutlery1__98027.jpg?c=1" alt="Random second slide" /></a>
           
        </div>
        <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <a href="">  <img width="100%" height="50%" src="https://cdn11.bigcommerce.com/s-b9pwig4brj/images/stencil/1600w/carousel/70/FOOGO_Green_palm_plates_banner.jpg?c=1" alt="Random third slide" /></a>
          
        </div>
        <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <a href=""><img width="100%" height="50%" src="https://cdn11.bigcommerce.com/s-b9pwig4brj/images/stencil/1920w/carousel/71/foogo_green_wholesale_banner__49911.jpg?c=1" alt="Random fourth slide" /></a>
            
        </div>
        <div class="carousel-caption">
            <h3>fourth slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
    </ng-template>
</ngb-carousel>

